@page "/dashboard"
@using BonyadRazavi.WebApp.Components.Shared
@using Microsoft.AspNetCore.Components.Routing
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@inject UserSession UserSession
@inject NavigationManager Navigation

<PageTitle>داشبورد</PageTitle>

@if (!UserSession.IsAuthenticated || UserSession.Current is null)
{
    <section class="dashboard-state">
        <h1>جلسه کاربری فعال نیست</h1>
        <p>برای مشاهده داشبورد ابتدا وارد سامانه شوید.</p>
        <button class="dashboard-action" @onclick="GoToLogin">بازگشت به صفحه ورود</button>
    </section>
}
else
{
    <section class="portal-dashboard">
        <div class="dashboard-frame">
            <DashboardSidebar/>

            <main class="dashboard-main">
                <header class="header-dashboard">
                    
                    <div class="user-strip">
                        <div title="@UserSession.Current.UserName">
                            @* @GetInitials(UserSession.Current.DisplayName) *@
                            <img class="user-avatar" src="Images/dashboard/user.png" />
                        </div>
                        <p>
                            @UserSession.Current.DisplayName
                        </p>
                   </div>
                    <div class="today-strip">
                        تاریخ امروز : @GetTodayPersianText()
                   </div>
                </header>

                <h1 class="welcome-title">به پرتال بنیاد علوم کاربردی رازی خوش آمدید</h1>

                <div class="service-grid">
                    @foreach (var tile in DashboardTiles)
                    {
                        <NavLink href="@tile.Route" class="service-card">
                            <img src="@tile.IconPath" alt="@tile.Title" class="service-icon" />
                            <h3>@tile.Title</h3>
                        </NavLink>

                    }
                </div>

            </main>
        </div>
    </section>
}
